
#bcg{
    width: 100%;
    height: 90vh;
    background-color: #c1c3cc;
    position: relative;
    box-sizing: border-box;
     display: flex;
     flex-direction: row;
     align-items: left;       
     background-image: linear-gradient(76deg, rgba(193, 195, 204, 0.83) 35%, rgba(193, 195, 204, 0.28) 65%), url("https://assets.website-files.com/5da84c0b3e5488033ddb69f6/5db2bbede800a55ba7f343a0_banner.jpg");
     background-position: 0px 0px, 50% 6.5%;
     background-size: auto, cover;
     background-attachment: scroll, fixed;
  }
  
  #top-bar{
     width: 90%;
    height:90px;
    position: absolute;
      left: 0%;
      top: 0%;
      right: 0%;
      bottom: auto;
      margin-top: 2%;
      margin-right: auto;
      margin-left: auto;
      padding-right: 0%;
      padding-left: 0%;
      background-color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
    }
   .NUUK-image{
  width:90px;                
     padding: 46px 32px;
    background-color: #e47312;
     transform:translateY(10%);
  }
  .fas fa-bars{
    display: none;
  }
  .btn{
    background-color: #e47312;
    border: none;
    color: white;
    height: 90px;
      margin-left: 20px;
      padding: 34px 28px 31px;         
      font-size: 11px;
      font-weight: 600;
      letter-spacing: 1.5px;
      cursor: pointer;
      font-family: 'Dosis', sans-serif;
  
  }
  .menu-items{
    font-family: 'Dosis', sans-serif;
    color: #121213;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    margin-right: 30px;
    cursor: pointer;          
  }
  #line{
    width: 2px;
    height: 100%;
    background-color: #e47312;
    position: relative;
    overflow: hidden;
  }
  #line::before{
      content: "";
      width: 100%;
      height: 100%;
      background-color: #fff;
      position: absolute;
      top:0;
      left:0;
      transform: translatey(-101%);
      transition: transform 0.3s;
      transition-fill-mode: forwards;
  }
  .menu-items:hover  #line::before{
      transform: translatex(0%);
  }
  #menu-items{
    cursor: pointer;
  }
  #vertical-line{
    width: 2px;
    height: 48px;
    position: relative;
    left: 21px;
    overflow: hidden;
  }
  #vertical-line::before{
      content: "";
      width: 100%;
      height: 100%;              
      background-color: lightblue;
      position: absolute;
      top:0;
      left:0;
      transform: translatey(-10%);
      transition: transform 0.3s;
      transition-fill-mode: forwards;
  }
  #underline-style:hover  #vertical-line::before{
      transform: translatex(0%);
  }
  
  .header{
      color: #fff;
      font-family: 'Dosis', sans-serif;
      font-weight: 600;
      font-size: 60px;
      line-height: 70px;
      position: relative;
      top: 240px;
      left: 128px;
      z-index: 2;
      margin-top: 0px;
      margin-bottom: 0px;
      letter-spacing: 6px;
  }
  .header-para{
      color: #fff;
      font-family: 'Dosis', sans-serif;
      font-weight: 200;
      font-size: 20px;
      line-height: 26px;
      position: relative;
      top:240px;
      left: 128px;
      z-index: 2;
      margin-top: 10px;
      margin-bottom: 5px;
      letter-spacing: 1px;
  }
  .header-button{
    background-color: #e47312;
    border: none;
    color: white;
      padding: 13px 40px;              
      font-size: 11px;
      font-weight: 600;
      cursor: pointer;
      font-family: 'Dosis', sans-serif;
      line-height: 26px;
      position: relative;
      top:240px;
      left: 128px;
      z-index: 2;
      margin-top: 25px;
      letter-spacing: 1.5px;
  }
  #information{
    width: 100%;
    position: absolute;
    top:auto;
    left:auto;
    right: 0px;        
    bottom: -83px;
    display: flex;
    width: 1000px;
    padding: 15px 100px 5px 50px;
    background-color: #e47312;
    background-image: linear-gradient(186deg, #e47312, #ff6361);
    box-sizing: border-box;
    overflow:hidden;
    flex-direction: row;
    justify-content: center;
    transform:translateY(15%);
    box-sizing: border-box;
  }
  #info-content1{
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      padding: 30px 0px;
      box-align: start;
      align-items: center;
      line-height: 20px;
  }
  #info-content2{
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      padding: 30px 0px;
      box-align: start;
      align-items: center;
      line-height: 20px;
  }
  #info-content3{
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      padding: 30px 0px;
      box-align: start;
      align-items: center;
      line-height: 20px;
  }
  .icon{
    width: 24px;
    margin-bottom: 15px;
  }
  .decoration{
    margin-top: 0px;
      margin-bottom: 10px;
      color: #fff;
      font-size: 13px;
      line-height: 20px;
      letter-spacing: 1px;
    font-family: 'Dosis', sans-serif;
  }
  .decoration-content{
    margin-top: 0px;
    margin-bottom: 5px;
    color:hsla(0, 0%, 100%, 0.7);
    font-family: 'Dosis', sans-serif;
  }
  #underline-style{
      margin-top: 0px;
      margin-bottom: 10px;
      color: #fff;
      font-size: 13px;
      font-weight: 600;
      line-height: 20px;
      letter-spacing: 1px;
      text-decoration: none;
      font-family: 'Dosis', sans-serif;
  }
  #underline{
    width:100%;
    height: 2px;
    background-color: hsla(0, 0%, 100%, 0.4);
    position: relative;
    overflow: hidden;
  }
  #underline::before{
    content: "";
      width: 100%;
      height: 100%;
      background-color: #fff;
      position: absolute;
      top:0;
      left:0;
      transform: translatex(-101%);
      transition: transform 0.3s;
    transition-fill-mode: forwards;
  }
  #underline-style:hover  #underline::before{
      transform: translatex(0%);
  }
  .social{
    position: absolute;
      left: auto;
      top: auto;
      right: 0%;
      bottom: 143px;
      display: flex;
      padding: 10px;
      flex-direction: column;
      background-color: #0a1229;
      transform:translateY(16%);
  }
  .social-decoration{
      display: flex;
      max-width: 100%;
      width: 40px;
      height: 50px;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid hsla(0, 0%, 100%, 0.14);
  }
  .social-decoration1{
    display: flex;
      max-width: 100%;
      width: 40px;
      height: 50px;
      justify-content: center;
      align-items: center;
  }
  .social-icon{
      width: 16px;
      max-width: 100%;
      vertical-align: middle;
      display: inline-block;
  }
  #content-section{
    padding-top: 5%;
    padding-bottom: 15%;
  }
  #container-wrapper{
    max-width: 1320px;
    height: 100vh;
    padding: 12% 5%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
  }
  #title-wrapper{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 7%;
    align-items: center;
  }
  #title{
      position: relative;
      z-index: 2;
      margin-top: 0px;
      margin-bottom: 0px;
      font-family: 'Dosis', sans-serif;
      color: #121213;
      font-size: 42px;
      font-weight: 600;
      line-height: 50px;
      letter-spacing: 1px;
  }
  #services{
      position: absolute;
      left: -53px;
      top: -179px;
      z-index: 1;
      font-family: 'Dosis', sans-serif;
      color: rgba(241, 241, 247, 0.4);
      font-size: 120px;
      letter-spacing: 11px;
  }
  .nav-btn{
      margin-top: 0px;
      color: #919198;
      font-size: 13px;
      letter-spacing: 1px;
      font-family: 'Dosis', sans-serif;
      font-weight: 600;
    text-decoration: none;
  }
  #list-services{
      margin-left: -10px;
      margin-right: -10px;
      display: flex;
      flex-direction: row;
  }
  #spacing{
    width:25%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
  }
  #service-content{
    margin-bottom: 5%;
    padding-right: 5%;
  }
  .service-icon{
    width: 60px;
    margin-bottom: 20px;
  }
  .service-title{
    margin-top: 0px;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-weight: 600;
    font-family: 'Dosis', sans-serif;
  }
  .service-para{
      margin-top: 0px;
      margin-bottom: 10px;
      font-family: 'Dosis', sans-serif;
      color: #919197;
      font-size: 17px;
      line-height: 25px;
  }
  .service-tag{
      color: #919198;
      font-size: 13px;
      letter-spacing: 1px;
      margin-top: 15px;
      margin-left: 0px;
      padding-top: 0px;
      padding-bottom: 0px;
      font-family: 'Dosis', sans-serif;
      font-weight: 600;
      text-decoration: none;
  }
  #service-underline{
    width: 100%;
    height: 2px;
    background-color: #c1c3cc;
    position:relative;
    overflow: hidden;
  }
  #service-underline::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #e47312;
    position: absolute;
    top:0;
    left:0;
    transform: translatex(-101%);
    transition: transform 0.3s;
    transition-fill-mode: forwards;
  }
  .nav-btn:hover  #service-underline::before{
      transform: translateX(0%);
  }
  .service-tag:hover  #service-underline::before{
      transform: translateX(0%);
  }
  #margin{
    margin-top: 15%;
  }
  #second-part{
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    justify-content:;
    align-items: center;
  }
  #img-styling{
    width: 100%;
  }
  .wwa-image{
    width: 750px;
    max-width: 100%; 
  }
  #div-styling{
    width: 50%;
  }
  #padding{
    padding-left: 100px;
  }
  #wwa-wrapper{
    position: relative;
    display: flex;
    margin-bottom: 7%;
    justify-content: space-between;
    align-items: center;
  }
  .wwa-para{
    font-family: 'Dosis', sans-serif;
    color: #919197;
    font-size: 17px;
    line-height: 25px;
  }
  #number{
    margin-bottom: 10px;
    color: #e47312;
    font-size: 60px;
    line-height: 70px;
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
  }
  #text{
    margin-bottom: 10px;
    font-family: 'Dosis', sans-serif;
    color: #919197;
    font-size: 17px;
    line-height: 25px;
  }
  #wwa-row{
    display: flex;
    justify-content: space-between;
  }
  #wwa-underline{
    width:33%;
    height: 2px;
    background-color: #919197;
  }
  #service-underline2{
    width: 95px;
    height: 2px;
    background-color: #c1c3cc;
    position:relative;
    overflow: hidden;
  }
  #service-underline2::before{
    content: "";
      width: 100%;
      height: 100%;
      background-color: #e47312;
      position: absolute;
      top:0;
      left:0;
      transform: translatex(-101%);
      transition: transform 0.3s;
      transition-fill-mode: forwards;
  }
  .nav-btn:hover  #service-underline2::before{
      transform: translateX(0%);
  }
  #title1{
      position: relative;
      z-index: 2;
      margin-top: 0px;
      margin-bottom: 0px;
      font-family: 'Dosis', sans-serif;
      color: #121213;
      font-size: 42px;
      font-weight: 600;
      line-height: 50px;
      letter-spacing: 1px;
  }
  #services1{
      position: absolute;
      left: -53px;
      top: -179px;
      z-index: 1;
      font-family: 'Dosis', sans-serif;
      color: rgba(241, 241, 247, 0.4);
      font-size: 120px;
      letter-spacing: 11px;
  }
  #third-section{
    margin-top: 700px;
    padding: 8% 0% 20px 20px;
    background-color: #f7f8fc;
  }
  #ts-width{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  #ts-wrapper{
    position: relative;
    display: flex;
    margin-bottom: 7%;
    justify-content: space-between;
    align-items: center;
  }



  #section-color{
      padding-top: 7%;
      padding-bottom: 7%;
      background-color: #e47312;
      background-image: linear-gradient(72deg, #e47312, rgba(255, 99, 97, 0.78)), url("https://assets.website-files.com/5da84c0b3e5488033ddb69f6/5db2b4f8bc53f8d337ce5645_banner-2.jpg");
      background-position: 0px 0px, 50% 50%;
      background-size: auto, cover;
      background-repeat: repeat, no-repeat;
      background-attachment: scroll, fixed;
  }
  #fs-wrapper{
    position: relative;
    margin-bottom: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .fs-text{
      color: #fff;
      position: relative;
      z-index: 2;
      margin-top: 0px;
      margin-bottom: 0px;
      font-size: 42px;
      line-height: 50px;
      letter-spacing: 1px;
      font-weight: 600;
      font-family: 'Dosis', sans-serif;
  }
  .fs-para{
      margin-top: 10px;
      font-size: 20px;
      line-height: 26px;
      font-weight: 300;
      margin-bottom: 5px;
      color: hsla(0, 0%, 100%, 0.7);
      font-family: 'Dosis', sans-serif;
  }
  #fs-margin{
    margin-top: 25px;
    text-align: center;
    width: 104px;
  }
  #fs-tag{
    color: #fff;
    font-size: 13px;
    letter-spacing: 1px;
    margin-top: 15px;
    margin-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    text-decoration: none;
  }
  
  #underlinefs{
    width: 100%;
    height: 2px;
    background-color: hsla(0, 0%, 100%, 0.4);
    position: relative;
    overflow: hidden;
  }
  #underlinefs::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top:0;
    left:0;
    transform: translatex(-101%);
    transition: transform 0.3s;
    transition-fill-mode: forwards;
  }
  #fs-tag:hover  #underlinefs::before{
    transform: translatex(0%);
  }
  
  
  .fs-underline{
    width:22%;
    height: 2px;
  }
  #grid{
    display: grid;
    grid-template-columns: auto  auto auto;
    grid-gap: 10px;
    justify-items: stretch;
    justify-content: space-around;
    align-items: center;
    align-content: space-evenly;
  }
  #grid img{
    width: 100%;
  }
  
  
  #fifth-section{
    background-color: #f7f8fc;
    padding: 10% 5%;
  }
  #fis-container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  #pic-content{
    margin-left: -10px;
    margin-right: -10px;
  }
  #grid2{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    justify-items: stretch;
    justify-content: space-around;
    align-items: center;
    align-content: space-evenly;
  
  }
  #grid2 img{
  width: 33.33333333%;
  }
  #width1{
    width: 33.33333333%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
  }
  #g2-parts{
    position: relative;
    width: 130%;
  }
  #g2-pic1{
    min-height: 300px;
    background-image:url("https://assets.website-files.com/5da84c0b3e5488033ddb69f6/5db1d4e4adcfe25b9516e5eb_team-2.jpg");
    background-position: 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #g2-pic2{
    min-height: 300px;
    background-image:url("https://assets.website-files.com/5da84c0b3e5488033ddb69f6/5db1d54f7abe5cbbf3c7ffef_team-1.jpg");
    background-position: 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #g2-pic3{
    min-height: 300px;
    background-image:url("https://assets.website-files.com/5da84c0b3e5488033ddb69f6/5db1db53adcfe2e39c172d86_team-3.jpg");
    background-position: 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #g2-content{
    padding: 29px 66px 29px 29px;
    background-color: #fff;
  }
  .g2-title{
    line-height: 20px;
    margin-top: 0px;
    font-size: 17px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-weight: 600;
    font-family: 'Dosis', sans-serif;
  }
  .g2-para{
    margin-bottom: 0px;
    color: #bdbdc9;
    font-size: 16px;
    line-height: 25px;
    margin-top: 0;
    font-family: 'Dosis', sans-serif;
  }
  #g2-social{
      position: absolute;
      left: auto;
      top: auto;
      right: 0%;
      bottom: 0%;
      display: flex;
      flex-direction: column;
      background-color: #e47312;
      padding: 10px;
  }
  .g2-icon{
    display: flex;
    width: 40px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.14);
    max-width: 100%;
    background-color: transparent;
  }
  .g2-icon3{
    display: flex;
    width: 40px;
    height: 50px;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    background-color: transparent;
  }
  .g2-icons1{
    width: 16px;
  }
  .margin-page{
    margin-top: 15%;
  }
  #fis-flex{
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
  }
  #fis-con{
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .padding{
    padding-right: 100px;
    padding-left: 0px;
  }
  .para5{
      margin-bottom: 10px;
      font-family: 'Dosis', sans-serif;
      color: #919197;
      font-size: 17px;
      line-height: 25px;
      margin-top: 0;
  }
  .tag5{
    color: #919197;
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    font-size: 14px;
  }
  #fis-con1{
    width: 58.33333333%;
    position: relative;
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .fis-row1{
    margin-left: 0;
    margin-right: 0;
  }
  .fis-col1{
    width: 50%;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    min-height: 1px;
    float: left;
  }
  .testimonials{
      position: relative;
      display: block;
      width: 90%;
      margin: 50px auto 61px;
      padding: 80px 30px 26px;
      background-color: #fff;
      text-align: center;
  }
  .testimonials-margin{
      margin-top: 151px;
      position: relative;
      display: block;
      width: 90%;
      margin: 50px auto 61px;
      padding: 80px 30px 26px;
      background-color: #fff;
      text-align: center;   
  }
  .testimonials-pic{
    position: relative;
    display: flex;
    width: 60px;
    height: 60px;
    margin: -115px auto 25px;
    justify-content: center;
    align-items: stretch;
    border-radius: 100%;
    background-image: linear-gradient(8deg, #ff6361, #e47312);
    opacity: 1;
    color: #fff;
    font-size: 80px;
    line-height: 80px;
  }
  #padding2{
    padding-top: 8px;
  }
  .testimonials-heading{
      margin-top: 15px;
      margin-bottom: 5px;
      font-size: 15px;
      line-height: 20px;
      font-weight: 500;
      font-family: 'Dosis', sans-serif;
  }
  .job-title{
    margin-bottom: 0px;
    color: #bdbdc9;
    font-size: 16px;
  }
  .job-para{
    margin-top: 15px;
    margin-bottom: 0px;
    color: #919197;
    font-family: 'Dosis', sans-serif;
    font-size: 17px;
    line-height: 25px;
  }
  
  #service-underline1{
    width: 88px;
    height: 2px;
    background-color: #c1c3cc;
    position:relative;
    overflow: hidden;
  }
  #service-underline1::before{
    content: "";
      width: 100%;
      height: 100%;
      background-color: #e47312;
      position: absolute;
      top:0;
      left:0;
      transform: translatex(-101%);
      transition: transform 0.3s;
    transition-fill-mode: forwards;
  }
  .nav-btn:hover  #service-underline1::before{
      transform: translateX(0%);
  }
  
  #sixth-section{
    margin-left:50px;
    margin-top:10%;
    width:95%;
  }
  
  
  #grid5{
    display: grid;
    position:relative;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    justify-items: stretch;
    justify-content: space-around;
    align-items: center;
    align-content: space-evenly;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  #grid5 img{
    width: 384px;
    height:256px;
}
  
  #grid5 div{
    overflow: hidden;
    background-color: #e47312;
    background-image: linear-gradient(158deg, #e47312, #ff6361);
    height:467px;
  }
  
  #grid5 h3{
    font-size: 19px;
    font-family: Dosis, sans-serif;
    margin-left:25px;
    color:white;
    font-weight: 600;
        letter-spacing: 1px;
  }
  #grid5 p{
    font-size: 17px;
    font-family: Dosis, sans-serif;
    margin-left:25px;
    margin-right:20px;
     color:white;
  }
  #grid5 .nav-btn{
    color:white;
     margin-left:25px;
    font-size: 13px;
  }
  #grid6{
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
  }
  #first-column{
    width: 33.33333333%;
    position: relative;
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
  }
  #blog-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #fff;
    text-decoration: none;
    max-width: 100%;
  }
  #blog-image{
    position: relative;
    background-color: #5c5c5c;
  }
  #date{
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
  }
  .blogspot1-pic{
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    border: 0;
  }
  #date-number{
    display: flex;
    width: 70px;
    height: 70px;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(45deg, #ff6361, #e47312);
    color: #fff;
    font-size: 26px;
    font-weight: 400;
    font-family: 'Dosis', sans-serif;
  }
  #date-month{
    display: flex;
    width: 70px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #9d9da5;
    font-family: 'Dosis', sans-serif;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 2px;
  }
  #blog-content{
    width: 100%;
    padding: 25px 56px 25px 30px;
    background-color: #e47312;
    background-image: linear-gradient(158deg, #e47312, #ff6361);
    box-sizing: border-box;
  }
  .blogcontent-text{
    margin-right: 0px;
    margin-bottom: 15px;
    font-size: 19px;
    line-height: 26px;
    flex: 0 0 auto;
    color: #fff;
    position: relative;
    z-index: 2;
    margin-top: 0px;
    letter-spacing: 1px;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
  }
  .blogcontent-para{
    margin-bottom: 5px;
    color: hsla(0, 0%, 100%, 0.7);
    font-family: 'Dosis', sans-serif;
    font-size: 17px;
    line-height: 25px;
    margin-top: 0;
  }
  #underline6{
    width: 71px;
    height: 2px;
    background-color: hsla(0, 0%, 100%, 0.4);
    position: relative;
    overflow: hidden;
  }
  #underline6::before{
    content: "";
      width: 100%;
      height: 100%;
      background-color: #fff;
      position: absolute;
      top:0;
      left:0;
      transform: translatex(-101%);
      transition: transform 0.3s;
    transition-fill-mode: forwards;
  }
  #underline-style:hover  #underline6::before{
      transform: translatex(0%);
  }
  
  #seventh-section{
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 10%;
  }
  #ss-logo{
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
    background-image: linear-gradient(56deg, #e47312, #ff6361);
  }
  .ss-header{
    position: relative;
    text-align: center;
  }
  .ss-h{
    display: none;
    margin-right: 0px;
    flex: 0 0 auto;
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    position: relative;
    z-index: 2;
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: 1px;
    font-family: 'Dosis', sans-serif;
  }
  #ss-flex{
    display: flex;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
  }
  .ss1{
    background-image: url("https://assets.website-files.com/5da84c0b3e5488033ddb69f6/5db2ba0741deb0488e314a4e_partner8-2.png");
    background-size: 100px;
    width: 20%;
    min-height: 100px;
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    transition: all 400ms ease;
    text-align: center;
    max-width: 100%;
    display: inline-block;
  }
  .ss2{
    background-image: url("https://assets.website-files.com/5da84c0b3e5488033ddb69f6/5db2ba0741deb04b80314a4a_partner7-w.png");
    background-size: 100px;
    width: 20%;
    min-height: 100px;
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    transition: all 400ms ease;
    text-align: center;
    max-width: 100%;
    display: inline-block;
  }
  .ss3{
    background-image: url("https://assets.website-files.com/5da84c0b3e5488033ddb69f6/5db2ba0741deb02b54314a5b_partner1-2.png");
    background-size: 30px;
    width: 20%;
    min-height: 100px;
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    transition: all 400ms ease;
    text-align: center;
    max-width: 100%;
    display: inline-block;
  }
  .ss4{
    background-image: url("https://assets.website-files.com/5da84c0b3e5488033ddb69f6/5db2ba0741deb09e17314a56_partner5-w.png");
    background-size: 100px;
    width: 20%;
    min-height: 100px;
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    transition: all 400ms ease;
    text-align: center;
    max-width: 100%;
    display: inline-block;
  }
  .ss5{
    background-image: url("https://assets.website-files.com/5da84c0b3e5488033ddb69f6/5db2ba0741deb00c59314a52_partner3-w.png");
    background-size: 100px;
    width: 20%;
    min-height: 100px;
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    transition: all 400ms ease;
    text-align: center;
    max-width: 100%;
    display: inline-block;
  }
  #ss-header1{
    margin-right: 60px;
    order: -1;
    flex: 0 0 auto;
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    position: relative;
    z-index: 2;
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: 'Dosis', sans-serif;
  }
  
  #footer{
      position: relative;
      z-index: 1;
      width: 90%;
      margin-right: auto;
      margin-left: auto;
      padding-top: 70px;
      padding-right: 50px;
      padding-left: 50px;
      border-top: 1px solid #2f3038;
      background-color: #0a1229;
  }
  #f-width{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  #f-row{
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
  }
#f-col1{
    width: 33.33333333%;
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}
#f-content{
    padding-right: 20%;
  }
  #header-withline{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .f-title{
    margin-bottom: 30px;
    padding-right: 14px;
    background-color: #0a1229;
    margin-right: 60px;
    flex: 0 0 auto;
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    position: relative;
    z-index: 2;
    margin-top: 0px;
    letter-spacing: 1px;
    font-family: 'Dosis', sans-serif;
  }
  .line{
      position: absolute;
      left: 0%;
      top: 8px;
      right: auto;
      bottom: auto;
      width: 100%;
      height: 1px;
      background-color: #ff6361;
  }
  .f-para{
    color: #fff;
    font-family: 'Dosis', sans-serif;
    margin-bottom: 5px;
    font-size: 17px;
    line-height: 25px;
  }
  .f-tag{
    color: #fff;
    font-size: 13px;
    letter-spacing: 1px;
    margin-top: 15px;
    margin-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    overflow: hidden;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    text-decoration: none;
    max-width: 100%;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
  }
  #line-animation{
    background-color: hsla(0, 0%, 100%, 0.3);
    width: 100%;
    height: 2px;
    margin-top: 3px;
  }
  #animation{
    transform: translate3d(-101%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    background-color: #fff;
    width: 100%;
    height: 100%;
  }
  #f-flex{
    dislpay: flex;
    flex-direction: column;
  }
  #f-phone{
    margin-bottom: 15px;
    padding-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .f-icon{
    width: 20px;
    margin-right: 15px;
    margin-bottom: 0px;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    border: 0;
  }
  .f-htext{
      margin-top: 0px;
      margin-bottom: 10px;
      color: #fff;
      font-size: 13px;
      line-height: 20px;
      letter-spacing: 1px;
      font-weight: 600;
      font-family: 'Dosis', sans-serif;
  }
  .f-hpara{
    margin-bottom: 5px;
    color: hsla(0, 0%, 100%, 0.7);
    font-family: 'Dosis', sans-serif;
    font-size: 17px;
    line-height: 25px;
    margin-top: 0;
  }
  #copyright{
    margin-top: 80px;
  }
  #c-flex{
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    align-items: center;
  }
  #c-col{
    width: 50%;
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .c-tag1{
    position: relative;
    display: flex;
    height: 110px;
    padding-right: 35px;
    padding-left: 35px;
    justify-content: center;
    align-items: center;
    background-color: #e47312;
    text-decoration: none;
    color: #333333;
    float: left;
  }
  .c-img{
    cursor: pointer;
    width: 90px;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    border: 0;
  }
  #c-rightpart{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .c-para{
    margin-bottom: 0px;
    color: #b7b7c7;
    font-size: 14px;
    font-family: 'Dosis', sans-serif;
    line-height: 25px;
    margin-top: 0;
  }
  .c-tag2{
    margin-top: 0px;
    margin-left: 10px;
    color: #b7b7c7;
    display: flex;
    align-items: center;
    transition: all 400ms ease;
    text-decoration: none;
    max-width: 100%;
    background-color: transparent;
  }
  .c-tagimg{
    width: 18px;
    margin-right: 4px;
    opacity: 0.9;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    border: 0;
  }
  #c-tagtext{
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 20px;
  }
  
  #underline1{
    width:77px;
    height: 2px;
    background-color: hsla(0, 0%, 100%, 0.4);
    position: relative;
    overflow: hidden;
  }
  #underline1::before{
    content: "";
      width: 100%;
      height: 100%;
      background-color: #fff;
      position: absolute;
      top:0;
      left:0;
      transform: translatex(-101%);
      transition: transform 0.3s;
    transition-fill-mode: forwards;
  }
  #underline-style:hover  #underline1::before{
      transform: translatex(0%);
  }
  
  #underline2{
    width:118px;
    height: 2px;
    position: relative;
    overflow: hidden;
  }
  #underline2::before{
    content: "";
      width: 100%;
      height: 100%;
      background-color: #fff;
      position: absolute;
      top:0;
      left:0;
      transform: translatex(-101%);
      transition: transform 0.3s;
    transition-fill-mode: forwards;
  }
  #underline-style:hover  #underline2::before{
      transform: translatex(0%);
  }
  #underline3{
    width:90px;
    height: 2px;
    position: relative;
    overflow: hidden;
  }
  #underline3::before{
    content: "";
      width: 100%;
      height: 100%;
      background-color: #fff;
      position: absolute;
      top:0;
      left:0;
      transform: translatex(-101%);
      transition: transform 0.3s;
    transition-fill-mode: forwards;
  }
  #underline-style:hover  #underline3::before{
      transform: translatex(0%);
  }
  #underline4{
    width:74px;
    height: 2px;
    position: relative;
    overflow: hidden;
  }
  #underline4::before{
    content: "";
      width: 100%;
      height: 100%;
      background-color: #fff;
      position: absolute;
      top:0;
      left:0;
      transform: translatex(-101%);
      transition: transform 0.3s;
    transition-fill-mode: forwards;
  }
  #underline-style:hover  #underline4::before{
      transform: translatex(0%);
  }                   


  @media (max-width: 1200px) {
   
  }
  @media (max-width: 992px) {
    body{
      margin: 0px;
      overflow-x: hidden;
    }
    .fas fa-bars{
      display: block;
      padding:;
    }
    #top-bar{
     width: 100%;
    height: 60px;
    position: absolute;
      left: 0%;
      top: -15px;
      right: 0%;
      bottom: auto;
      margin-top: 1.6%;
      margin-right: auto;
      margin-left: auto;
      padding-right: 0%;
      padding-left: 0%;
      background-color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
    }
.NUUK-image{
  width:90px;
  padding: 20px 32px;
  background-color: #e47312;
  transform:translateY(0%);
  }
    .menu-items{
      display: none;
    }
    .btn{
      display: none;
    }
    #second-part{
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  #space-between{
     height:50px; 
    }
    #content-section{
    padding-top: 170px;
    padding-bottom: 570px;
  }
    #c-flex{
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  
    #c-rightpart{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  #c-col{
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
  }
    .c-tag1{
    position: relative;
    display: flex;
    height: 60px;
    padding-right: 35px;
    padding-left: 35px;
    justify-content: center;
    align-items: center;
    background-color: #e47312;
    text-decoration: none;
    color: #333333;
    float: left;
  }
   #g2-parts{
    position: relative;
    width: 100%;
  } 
  }
  @media (max-width: 768px) {
    body{
     margin: 0px;
    }
    #grid img{
    width: 100vh;
  }
    #g2-parts{
      width: 100vh;
    }
    #grid{
      grid-template-columns: auto;
    }
    #grid2{
      grid-template-columns: auto;
    }
    #grid5{
      grid-template-columns: auto;
    }
    #f-row{
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    flex-direction: column;
  }
    #f-col1{
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom:-4%;
  }
    #c-flex{
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
    #c-rightpart{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  #c-col{
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .c-tag1{
    position: relative;
    display: flex;
    height: 60px;
    padding-right: 35px;
    padding-left: 35px;
    justify-content: center;
    align-items: center;
    background-color: #e47312;
    text-decoration: none;
    color: #333333;
    float: left;
  }
  #ss-header1{
    margin-right: 60px;
    order: -1;
    flex: 0 0 auto;
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    position: relative;
    z-index: 2;
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: 'Dosis', sans-serif;
  }
    .ss1{
    background-image: url("https://assets.website-files.com/5da84c0b3e5488033ddb69f6/5db2ba0741deb0488e314a4e_partner8-2.png");
    background-size: 100px;
    width: 33.333333%;
    min-height: 100px;
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    transition: all 400ms ease;
    text-align: center;
    max-width: 100%;
    display: inline-block;
  }
  .ss2{
    background-image: url("https://assets.website-files.com/5da84c0b3e5488033ddb69f6/5db2ba0741deb04b80314a4a_partner7-w.png");
    background-size: 100px;
    width: 33.333333%;
    min-height: 100px;
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    transition: all 400ms ease;
    text-align: center;
    max-width: 100%;
    display: inline-block;
  }
  .ss3{
    background-image: url("https://assets.website-files.com/5da84c0b3e5488033ddb69f6/5db2ba0741deb02b54314a5b_partner1-2.png");
    background-size: 30px;
    width: 33.333333%;
    min-height: 100px;
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    transition: all 400ms ease;
    text-align: center;
    max-width: 100%;
    display: inline-block;
  }
  .ss4{
    background-image: url("https://assets.website-files.com/5da84c0b3e5488033ddb69f6/5db2ba0741deb09e17314a56_partner5-w.png");
    background-size: 100px;
    width: 33.333333%;
    min-height: 100px;
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    transition: all 400ms ease;
    text-align: center;
    max-width: 100%;
    display: inline-block;
  }
  .ss5{
    background-image: url("https://assets.website-files.com/5da84c0b3e5488033ddb69f6/5db2ba0741deb00c59314a52_partner3-w.png");
    background-size: 100px;
    width: 33.333333%;
    min-height: 100px;
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    transition: all 400ms ease;
    text-align: center;
    max-width: 100%;
    display: inline-block;
  }
  #ss-flex{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
  }
    .fis-col1{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    min-height: 1px;
  }
    .testimonials{
      position: relative;
      display: block;
      width: 300%;
      margin: 50px auto 61px;
      padding: 80px 30px 26px;
      background-color: #fff;
      text-align: center;
  }
    .testimonials-margin{
      margin-top: 151px;
      position: relative;
      display: block;
      width: 300%;
      margin: 50px auto 61px;
      padding: 80px 30px 26px;
      background-color: #fff;
      text-align: center;   
  }
    #third-section{
       margin-top: 320%;
    padding: 8% 0% 20px 20px;
    background-color: #f7f8fc;
  }
  #wwa-row{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
    #second-part{
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
      flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
     .header{
      color: #fff;
      font-family: 'Dosis', sans-serif;
      font-weight: 600;
      font-size: 40px;
      line-height: 40px;
      position: relative;
      top: 240px;
      left: 128px;
      z-index: 2;
      margin-top: 0px;
      margin-bottom: 0px;
      letter-spacing: 6px;
  }
  #title{
      position: relative;
      z-index: 2;
      margin-top: 0px;
      margin-bottom: 0px;
      font-family: 'Dosis', sans-serif;
      color: #121213;
      font-size: 28px;
      font-weight: 600;
      line-height: 50px;
      letter-spacing: 1px;            
  }
  #services{
      position: absolute;
      left: -8px;
      top: -95px;
      z-index: 1;
      font-family: 'Dosis', sans-serif;
      color: rgba(241, 241, 247, 0.4);
      font-size: 64px;
      letter-spacing: 11px;
  }
    #list-services{
      margin-left: -10px;
      margin-right: -10px;
      display: flex;
      flex-direction: column;
  }
    #div-styling{
    width: 100%;
  }
    #spacing{
    width:100%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
  }
    #content-section{
    padding-top: 25%;
    padding-bottom: 15%;
  }
    #top-bar{
     width: 100%;
    height: 60px;
    position: absolute;
      left: 0%;
      top: -12px;
      right: 0%;
      bottom: auto;
      margin-top: 1.6%;
      margin-right: auto;
      margin-left: auto;
      padding-right: 0%;
      padding-left: 0%;
      background-color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
    }
   .NUUK-image{
  width:90px;
  /*    height:20px; */
  /*    padding-right: 35px;
     padding-left: 35px;
     padding-top:20px;
     padding-bottom:20px; */
     padding: 20px 32px;
    background-color: #e47312;
     transform:translateY(0%);
  }
    .menu-items{
      display: none;
    }
    .btn{
      display: none;
    }
    .fs-text{
      color: #fff;
      position: relative;
      z-index: 2;
      margin-top: 0px;
      margin-bottom: 0px;
      font-size: 36px;
      line-height: 50px;
      letter-spacing: 1px;
      font-weight: 600;
      font-family: 'Dosis', sans-serif;
  }
    .g2-title{
    line-height: 20px;
    margin-top: 0px;
    font-size: 17px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-weight: 600;
    font-family: 'Dosis', sans-serif;
    text-align: center;
  }
  .g2-para{
    margin-bottom: 0px;
    color: #bdbdc9;
    font-size: 16px;
    line-height: 25px;
    margin-top: 0;
    font-family: 'Dosis', sans-serif;
    text-align: center;
  }
    #space-between{
     height:50px; 
    }
  #grid6{
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }  
   #first-column{
    width: 100%;
    position: relative;
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
  }
  }
  @media (max-width: 600px) {
    body{
      margin: 0px;
    }
    #grid img{
    width: 100vh;
  }
    #g2-parts{
      width: 100vh;
    }
    #grid{
      grid-template-columns: auto;
    }
    #grid2{
      grid-template-columns: auto;
    }
    #grid5{
      grid-template-columns: auto;
    }
    #f-row{
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    flex-direction: column;
  }
    #f-col1{
    width: 100%;
    position: relative;
  /*   float: left; */
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom:-4%;
  }
    #c-flex{
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  /*   align-items: center; */
  }
    #c-rightpart{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  #c-col{
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .c-tag1{
    position: relative;
    display: flex;
    height: 60px;
    padding-right: 35px;
    padding-left: 35px;
    justify-content: center;
    align-items: center;
    background-color: #e47312;
    text-decoration: none;
    color: #333333;
    float: left;
  }
  #ss-header1{
    margin-right: 60px;
    order: -1;
    flex: 0 0 auto;
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    position: relative;
    z-index: 2;
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: 'Dosis', sans-serif;
  /*   width: 100%; */
  }
    .ss1{
    background-image: url("https://assets.website-files.com/5da84c0b3e5488033ddb69f6/5db2ba0741deb0488e314a4e_partner8-2.png");
    background-size: 100px;
    width: 33.333333%;
    min-height: 100px;
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    transition: all 400ms ease;
    text-align: center;
    max-width: 100%;
    display: inline-block;
  }
  .ss2{
    background-image: url("https://assets.website-files.com/5da84c0b3e5488033ddb69f6/5db2ba0741deb04b80314a4a_partner7-w.png");
    background-size: 100px;
    width: 33.333333%;
    min-height: 100px;
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    transition: all 400ms ease;
    text-align: center;
    max-width: 100%;
    display: inline-block;
  }
  .ss3{
    background-image: url("https://assets.website-files.com/5da84c0b3e5488033ddb69f6/5db2ba0741deb02b54314a5b_partner1-2.png");
    background-size: 30px;
    width: 33.333333%;
    min-height: 100px;
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    transition: all 400ms ease;
    text-align: center;
    max-width: 100%;
    display: inline-block;
  }
  .ss4{
    background-image: url("https://assets.website-files.com/5da84c0b3e5488033ddb69f6/5db2ba0741deb09e17314a56_partner5-w.png");
    background-size: 100px;
    width: 33.333333%;
    min-height: 100px;
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    transition: all 400ms ease;
    text-align: center;
    max-width: 100%;
    display: inline-block;
  }
  .ss5{
    background-image: url("https://assets.website-files.com/5da84c0b3e5488033ddb69f6/5db2ba0741deb00c59314a52_partner3-w.png");
    background-size: 100px;
    width: 33.333333%;
    min-height: 100px;
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    transition: all 400ms ease;
    text-align: center;
    max-width: 100%;
    display: inline-block;
  }
  #ss-flex{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
  }
    .fis-col1{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    min-height: 1px;
  }
    .testimonials{
      position: relative;
      display: block;
      width: 300%;
      margin: 50px auto 61px;
      padding: 80px 30px 26px;
      background-color: #fff;
      text-align: center;
  }
    .testimonials-margin{
      margin-top: 151px;
      position: relative;
      display: block;
      width: 300%;
      margin: 50px auto 61px;
      padding: 80px 30px 26px;
      background-color: #fff;
      text-align: center;   
  }
    #third-section{
       margin-top: 320%;
    padding: 8% 0% 20px 20px;
    background-color: #f7f8fc;
  }
  #wwa-row{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
    #second-part{
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
      flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  #space-between{
     height:50px; 
    }
  #title{
      position: relative;
      z-index: 2;
      margin-top: 0px;
      margin-bottom: 0px;
      font-family: 'Dosis', sans-serif;
      color: #121213;
      font-size: 28px;
      font-weight: 600;
      line-height: 50px;
      letter-spacing: 1px;             
  }
  #services{
      position: absolute;
      left: -8px;
      top: -95px;
      z-index: 1;
      font-family: 'Dosis', sans-serif;
      color: rgba(241, 241, 247, 0.4);
      font-size: 64px;
      letter-spacing: 11px;
  }
    #list-services{
      margin-left: -10px;
      margin-right: -10px;
      display: flex;
      flex-direction: column;
  }
    #div-styling{
    width: 100%;
  }
    #spacing{
    width:100%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
  /*   position: relative;
    float: left; */
  }
    #content-section{
    padding-top: 25%;
    padding-bottom: 15%;
  }
    #top-bar{
     width: 100%;
    height: 60px;
    position: absolute;
      left: 0%;
      top: -12px;
      right: 0%;
      bottom: auto;
      margin-top: 2%;
      margin-right: auto;
      margin-left: auto;
      padding-right: 0%;
      padding-left: 0%;
      background-color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
    }
.NUUK-image{
    width:90px;
    padding: 20px 32px;
    background-color: #e47312;
    transform:translateY(0%);
}
.menu-items{
    display: none;
}
.btn{
    display: none;
}
.fs-text{
    color: #fff;
      position: relative;
      z-index: 2;
      margin-top: 0px;
      margin-bottom: 0px;
      font-size: 30px;
      line-height: 50px;
      letter-spacing: 1px;
      font-weight: 600;
      font-family: 'Dosis', sans-serif;
}
     .g2-title{
    line-height: 20px;
    margin-top: 0px;
    font-size: 17px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-weight: 600;
    font-family: 'Dosis', sans-serif;
    text-align: center;
  }
  .g2-para{
    margin-bottom: 0px;
    color: #bdbdc9;
    font-size: 16px;
    line-height: 25px;
    margin-top: 0;
    font-family: 'Dosis', sans-serif;
    text-align: center;
  }
    #container{
      width: 70%;
    }
    .header{
      color: #fff;
      font-family: 'Dosis', sans-serif;
      font-weight: 600;
      font-size: 40px;
      line-height: 40px;
      position: relative;
      top: 240px;
      left: 128px;
      z-index: 2;
      margin-top: 0px;
      margin-bottom: 0px;
      letter-spacing: 6px;
  }
    #first-column{
    width: 100%;
    position: relative;
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
  }
  }
  